.cell {
  background-color: lightgrey;
}

.activeCell {
  background-color: black;
}
  
.grid {
  width: 650px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(25, 25px);
  grid-template-rows: repeat(25, 25px);
  grid-auto-flow: column;
  margin: auto;
  padding: 10px;
}