.cell {
  background-color: lightgrey;
  color: #fff;
  border-radius: 1px;
  padding: 5px;
  font-size: 100%;
}

.activeCell {
  background-color: black;
  color: #fff;
  border-radius: 1px;
  padding: 5px;
  font-size: 100%;
}
  
.grid {
  width: 650px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(25, 25px);
  grid-template-rows: repeat(25, 25px);
  grid-auto-flow: column;
  margin: auto;
  padding: 20px;
}